In [1]:
## 7 - July - 2023

In [2]:
import pandas as pd

In [3]:
AL_cy_young_voting_DataFrame = pd.read_csv('../Data/AL_cy_young_voting.csv')
NL_cy_young_voting_DataFrame = pd.read_csv('../Data/NL_cy_young_voting.csv')

AL_pitching_stats_DataFrame = pd.read_csv('../Data/AL_pitching_stats.csv')
NL_pitching_stats_DataFrame = pd.read_csv('../Data/NL_pitching_stats.csv')

AL_standings_DataFrame = pd.read_csv('../Data/AL_standings.csv')
NL_standings_DataFrame = pd.read_csv('../Data/NL_standings.csv')

In [4]:
AL_pitching_stats_DataFrame = AL_pitching_stats_DataFrame[AL_pitching_stats_DataFrame['Tm'].notna()]
NL_pitching_stats_DataFrame = NL_pitching_stats_DataFrame[NL_pitching_stats_DataFrame['Tm'].notna()]

In [5]:
print(AL_cy_young_voting_DataFrame['Tm'].nunique(), end=' ')
print(AL_pitching_stats_DataFrame['Tm'].nunique(), end=' ')
print(AL_standings_DataFrame['Tm'].nunique())

17 18 19

In [6]:
print(NL_cy_young_voting_DataFrame['Tm'].nunique(), end=' ')
print(NL_pitching_stats_DataFrame['Tm'].nunique(), end=' ')
print(NL_standings_DataFrame['Tm'].nunique())

18 19 18

In [12]:
AL_c_y_v_names = list(AL_cy_young_voting_DataFrame['Tm'].unique())
AL_c_y_v_names.sort()
AL_c_y_v_names.extend(['--','--'])


AL_p_s_names = list(AL_pitching_stats_DataFrame['Tm'].unique())
AL_p_s_names.sort()
AL_p_s_names.append('--')

AL_s_names = list(AL_standings_DataFrame['Tm'].unique())
AL_s_names.sort()

In [14]:
AL_team_names_DataFrame = pd.DataFrame({'c_y_v':AL_c_y_v_names,
                                        'p_s':AL_p_s_names,
                                        's':AL_s_names})

In [16]:
NL_c_y_v_names = list(NL_cy_young_voting_DataFrame['Tm'].unique())
NL_c_y_v_names.sort()
NL_c_y_v_names.append('--')

NL_p_s_names = list(NL_pitching_stats_DataFrame['Tm'].unique())
NL_p_s_names.sort()

NL_s_names = list(NL_standings_DataFrame['Tm'].unique())
NL_s_names.sort()
NL_s_names.append('--')

In [17]:
NL_team_names_DataFrame = pd.DataFrame({'c_y_v':NL_c_y_v_names,
                                        'p_s':NL_p_s_names,
                                        's':NL_s_names})

In [18]:
AL_team_names_DataFrame

   c_y_v  p_s                              s
0    ANA  ANA                 Anaheim Angels
1    BAL  BAL              Baltimore Orioles
2    BOS  BOS                 Boston Red Sox
3    CHW  CHW              Chicago White Sox
4    CLE  CLE            Cleveland Guardians
5    DET  DET              Cleveland Indians
6    HOU  HOU                 Detroit Tigers
7    KCR  KCR                 Houston Astros
8    LAA  LAA             Kansas City Royals
9    MIN  MIN             Los Angeles Angels
10   NYY  NYY  Los Angeles Angels of Anaheim
11   OAK  OAK                Minnesota Twins
12   SEA  SEA               New York Yankees
13   TBR  TBD              Oakland Athletics
14   TEX  TBR               Seattle Mariners
15   TOR  TEX           Tampa Bay Devil Rays
16   TOT  TOR                 Tampa Bay Rays
17    --  TOT                  Texas Rangers
18    --   --              Toronto Blue Jays

In [19]:
NL_team_names_DataFrame

   c_y_v  p_s                      s
0    ARI  ARI   Arizona Diamondbacks
1    ATL  ATL         Atlanta Braves
2    CHC  CHC           Chicago Cubs
3    CIN  CIN        Cincinnati Reds
4    COL  COL       Colorado Rockies
5    FLA  FLA        Florida Marlins
6    HOU  HOU         Houston Astros
7    LAD  LAD    Los Angeles Dodgers
8    MIA  MIA          Miami Marlins
9    MIL  MIL      Milwaukee Brewers
10   NYM  MON         Montreal Expos
11   PHI  NYM          New York Mets
12   PIT  PHI  Philadelphia Phillies
13   SDP  PIT     Pittsburgh Pirates
14   SFG  SDP       San Diego Padres
15   STL  SFG   San Francisco Giants
16   TOT  STL    St. Louis Cardinals
17   WSN  TOT   Washington Nationals
18    --  WSN                     --